@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
/* 
/* Default styles */
/* h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
} */ 

/* Media query for mobile screens */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }

  li {
    font-size: 1rem;
  }
}
